* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    min-height: 100%!important;
}

/* react-table remove outline */

.rt-th:focus {
    outline: none!important;
}